<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
     <h3>Edit your listing</h3>
    <form method="post" action="/listings/<%= listing._id  %>?_method=PUT">
        <input type="text" name="listing[title]" value="<%=listing.title  %>" >
        <br><br>
        <textarea name="listing[description]"  cols="30" rows="10"><%= listing.description %></textarea>
        <br><br>
        <input name="listing[image]" value="<%= listing.image %>">
        <br><br>
        <input name="listing[country]" type="text" value="<%= listing.location %>">
        <br><br>
        <input name="listing[price]" type="number"  value="<%= listing.price %>">
        <br><br>
        <button>Edit</button>
    </form>
    </body>
</html>