<% layout('/layouts/boilerplate') %>
<body>
  
        <h1 class="head">All Listings</h1>
   <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let list of lists){%>
        <a href="/listings/<%= list._id %>" class="listing-link">
            <!-- CARD -->
            <div class="card col">
                <img src="<%=list.image%>" class="card-img-top" alt="Listing_image" style="height: 20rem;">
                <div class="card-img-overlay">abcd</div>
                <div class="card-body">
                    <p class="card-text">
                       <b><%=list.title %></b>  <br>
                       
                    </p>
                </div>
            </div>
        </a>
     <% } %>
    </div>


    <!-- <% for(let list of lists){ %>
       <ul>
          
            <li>
                <a class="link" id="link" href="/listings/<%=list._id%>"><%= list.title  %></a>
            </li>
       </ul>
            <% } %> -->

</body>
